@import "../src/mixins.scss";
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // --black: #04152d;
  // --white: #ffffff;
  // --black2: #041226;
  // --black3: #020c1b;
  // --black-lighter: #1c4b91;
  // --black-light: #173d77;
  // --pink: #da2f68;
  // --orange: #f89e00;
  // --gradient: linear-gradient(98.37deg, #f89e00 0.99%, #da2f68 100%);
  --black: #04152d;
  --white: #ffffff;
  --black2:linear-gradient( 135deg, #080115 10%, #01081d 100%);
  --black3: linear-gradient( 135deg, #020929 10%, #0f0027 100%);
  --black-lighter: #021127;
  --black-light:#173d77;
  --pink: #eb4786;
  --orange: #20f3f6;
  --gradient: linear-gradient( 135deg, #FF6FD8 10%, #3813C2 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

// // ::-webkit-scrollbar {
//   display:none;
// // }
::-webkit-scrollbar {
  width: 7px; // Width of the scrollbar
}

// Target the scrollbar thumb (draggable part)
::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 5px;
}

// Target the scrollbar track (background)
::-webkit-scrollbar-track {
  background-color: transparent;
}

// Target the scrollbar corner (where vertical and horizontal scrollbars meet)
::-webkit-scrollbar-corner {
  background-color: transparent;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #0a2955;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#193763, 0) 0,
      rgba(#193763, 0.2) 20%,
      rgba(#193763, 0.5) 60%,
      rgba(#193763, 0)
    );
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

/***** ContentWrapper Style scetion *****/
.contentWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/***** End ContentWrapper Style scetion *****/

/***** HeroBanner Section Styles *****/
// heroBanner
// backdrop-img
// opacity-layer
// heroBannerContent
// title
// subTitle
// searchInput
.heroBanner {
  width: 100%;
  height: 450px;
  background: var(black);
  display: flex;
  align-items: center;
  // justify-content: center;
  position: relative;
  @include md {
    height: 700px;
  }
  .backdrop-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    overflow: hidden;

    .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .opacity-layer {
    width: 100%;
    height: 250px;
    background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .heroBannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    .title {
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 10px;
      @include md {
        margin-bottom: 0;
        font-size: 90px;
      }
    }
    .subTitle {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 40px;
      @include md {
        font-size: 24px;
      }
    }
    .searchInput {
      display: flex;
      align-items: center;
      width: 100%;
      input {
        width: calc(100% - 100px);
        height: 50px;
        background: var(--white);
        color:var(--black);
        outline: 0;
        border: 0;
        border-radius: 30px 0 0 30px;
        padding: 0 15px;
        font-size: 14px;
        font-weight:normal;
        @include md {
          width: calc(100% - 150px);
          height: 60px;
          font-size: 20px;
          padding: 0 30px;
        }
      }
      button {
        width: 100px;
        height: 50px;
        background: var(--gradient);
        color: var(--white);
        outline: 0;
        border: 0;
        border-radius: 0 30px 30px 0;
        font-size: 16px;
        cursor: pointer;
        @include md {
          width: 150px;
          height: 60px;
          font-size: 18px;
        }
      }
    }
  }
}
/***** End HeroBanner Section Styles *****/

/***** Header Section Styles *****/
.header {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  transition: all ease 0.5s;
  z-index: 2;
  &.top {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    background: var(--black3);
  }
  &.hide {
    transform: translateY(-60px);
  }

  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    cursor: pointer;
    img {
      height: 50px;
    }
  }
  .menuItems {
    list-style-type: none;
    display: none;
    align-items: center;
    @include md {
      display: flex;
    }
    .menuItem {
      height: 60px;
      display: flex;
      align-items: center;
      margin: 0 15px;
      color: white;
      font-weight: 500;
      position: relative;
      letter-spacing:1.2px;
      &.searchIcon {
        margin-right: 0;
      }
      svg {
        font-size: 18px;
      }
      cursor: pointer;
      &:hover {
        color: var(--pink);
      }
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 20px;
    @include md {
      display: none;
    }
    svg {
      font-size: 18px;
      color: white;
    }
  }

  &.mobileView {
    background: var(--black3);
    .menuItems {
      display: flex;
      position: absolute;
      top: 60px;
      left: 0;
      background: var(--black3);
      flex-direction: column;
      width: 100%;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      animation: mobileMenu 0.3s ease forwards;
      // border-bottom:2px solid var(--white);
      .menuItem {
        font-size: 20px;
        width: 100%;
        height: auto;
        padding: 15px 20px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &:last-child {
          display: none;
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 60px;
    animation: mobileMenu 0.3s ease forwards;
    .searchInput {
      display: flex;
      align-items: center;
      height: 40px;
      margin-top: 10px;
      width: 100%;
      svg {
        font-size: 20px;
        flex-shrink: 0;
        margin-left: 10px;
        cursor: pointer;
      }
      input {
        width: 100%;
        height: 50px;
        background-color: white;
        outline: 0;
        border: 0;
        border-radius: 30px 0 0 30px;
        padding: 0 15px;
        font-size: 14px;
        @include md {
          height: 60px;
          font-size: 20px;
          padding: 0 30px;
        }
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
/***** End Header Section Styles *****/

/***** Footer Section Styles *****/
.footer {
  background: var(--black3);
  padding: 50px 0;
  color: white;
  position: relative;
  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 30px;
      gap: 30px;
    }
    .menuItem {
      transition: all ease 0.3s;
      cursor: pointer;
      font-size: 12px;
      @include md {
        font-size: 16px;
      }
      &:hover {
        color: var(--pink);
      }
    }
  }
  .infoText {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
    @include md {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em var(--pink);
        color: var(--pink);
      }
    }
  }
}
/***** End Footer Section Styles *****/

/***** Home Page Section Styles *****/
.carouselSection {
  position: relative;
  margin-bottom: 70px;
  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carouselTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
  }
}

/***** End Home Page Section Styles *****/

/***** SwitcingTabs Component Styles *****/
.switchingTabs {
  height: 34px;
  background-color: white;
  border-radius: 20px;
  padding: 2px;
  .tabItems {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: var(--black);
      font-size: 14px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      transition: color ease 0.3s;
      &.active {
        color: white;
      }
    }
    .movingBg {
      height: 30px;
      width: 100px;
      border-radius: 15px;
      background-image: var(--gradient);
      position: absolute;
      left: 0;
      transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
    }
  }
}

/***** End SwitcingTabs Component Styles *****/

/***** Carousel Component Styles *****/
.carousel {
  margin-bottom: 50px;
  .contentWrapper {
    position: relative;
  }
  .carouselTitle {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .arrow {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    display: none;
    @include md {
      display: block;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  .carouselLeftNav {
    left: 30px;
  }
  .carouselRightNav {
    right: 30px;
  }
  .loadingSkeleton {
    display: flex;
    gap: 10px;
    overflow-x: hidden;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
    @include md {
      gap: 20px;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }
    .skeletonItem {
      width: 125px;
      @include md {
        width: calc(25% - 15px);
      }
      @include lg {
        width: calc(20% - 16px);
      }
      flex-shrink: 0;
      .posterBlock {
        border-radius: 12px;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        margin-bottom: 30px;
      }
      .textBlock {
        display: flex;
        flex-direction: column;
        .title {
          width: 100%;
          height: 20px;
          margin-bottom: 10px;
        }
        .date {
          width: 75%;
          height: 20px;
        }
      }
    }
  }
  .carouselItems {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
    cursor: pointer;
    &::-webkit-scrollbar {
      height:7px;
      width:5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--black-light);
      border-radius: 5px;
    }
    @include md {
      gap: 20px;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .carouselItem {
      width: 125px;
      cursor: pointer;
      @include md {
        width: calc(25% - 15px);
      }
      @include lg {
        width: calc(20% - 16px);
      }
      flex-shrink: 0;
      .posterBlock {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 10px;
        .lazy-load-image-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .circleRating {
          width: 40px;
          height: 40px;
          position: relative;
          top: 30px;
          background-color: white;
          flex-shrink: 0;
          @include md {
            width: 50px;
            height: 50px;
          }
        }
        .genres {
          display: none;
          position: relative;
          @include md {
            display: flex;
            flex-flow: wrap;
            justify-content: flex-end;
          }
        }
      }
      .textBlock {
        color: white;
        display: flex;
        flex-direction: column;
        .title {
          font-size: 16px;
          margin-bottom: 10px;
          line-height: 24px;
          @include ellipsis(1);
          @include md {
            font-size: 20px;
          }
        }
        .date {
          font-size: 14px;
          opacity: 0.5;
        }
      }
    }
  }
}
/***** End Carousel Component Styles *****/

/***** Circle Rating Components Styles *****/
.circleRating {
  background-color: var(--black);
  border-radius: 50%;
  padding: 2px;
  .CircularProgressbar-text {
    font-size: 34px;
    font-weight: 700;
    fill: var(--black);
  }
  .CircularProgressbar-trail {
    stroke: transparent;
  }
}
/***** End Circle Rating Components Styles *****/

/***** Genres Components Styles *****/
.genres {
  display: flex;
  gap: 5px;
  .genre {
    background-color: var(--pink);
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--white);
    white-space: nowrap;
  }
}
/***** End Genres Components Styles *****/

/***** Details Banner Section Styles *****/
.detailsBanner {
  width: 100%;
  background-color: var(--black);
  padding-top: 100px;
  margin-bottom: 50px;
  @include md {
      margin-bottom: 0;
      padding-top: 120px;
      min-height: 700px;
  }
  .backdrop-img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      overflow: hidden;
      .lazy-load-image-background {
          width: 100%;
          height: 100%;
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
          }
      }
  }
  .opacity-layer {
      width: 100%;
      height: 250px;
      background: linear-gradient(
          180deg,
          rgba(4, 21, 45, 0) 0%,
          #04152d 79.17%
      );
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .content {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 25px;
      @include md {
          gap: 50px;
          flex-direction: row;
      }
      .left {
          flex-shrink: 0;
          .posterImg {
              width: 100%;
              display: block;
              border-radius: 12px;
              @include md {
                  max-width: 350px;
              }
          }
      }
      .right {
          color: white;
          .title {
              font-size: 28px;
              line-height: 40px;
              @include md {
                  font-size: 34px;
                  line-height: 44px;
              }
          }
          .subtitle {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 15px;
              font-style: italic;
              opacity: 0.5;
              @include md {
                  font-size: 20px;
                  line-height: 28px;
              }
          }
          .genres {
              margin-bottom: 25px;
              flex-flow: row wrap;
          }
          .overview {
              margin-bottom: 25px;
              .heading {
                  font-size: 24px;
                  margin-bottom: 10px;
              }
              .description {
                  line-height: 24px;
                  @include md {
                      padding-right: 100px;
                  }
              }
          }
          .circleRating {
              max-width: 70px;
              background: var(--black2);
              @include md {
                  max-width: 90px;
              }
              .CircularProgressbar-text {
                  fill: white;
              }
          }
          .playbtn {
              display: flex;
              align-items: center;
              gap: 20px;
              cursor: pointer;
              svg {
                  width: 60px;
                  @include md {
                      width: 80px;
                  }
              }
              .text {
                  font-size: 20px;
                  transition: all 0.7s ease-in-out;
              }
              .triangle {
                  stroke-dasharray: 240;
                  stroke-dashoffset: 480;
                  stroke: white;
                  transform: translateY(0);
                  transition: all 0.7s ease-in-out;
              }
              .circle {
                  stroke: white;
                  stroke-dasharray: 650;
                  stroke-dashoffset: 1300;
                  transition: all 0.5s ease-in-out;
              }
              &:hover {
                  .text {
                      color: var(--pink);
                  }
                  .triangle {
                      stroke-dashoffset: 0;
                      opacity: 1;
                      stroke: var(--pink);
                      animation: trailorPlay 0.7s ease-in-out;
                  }
                  .circle {
                      stroke-dashoffset: 0;
                      stroke: var(--pink);
                  }
              }
          }
          .row {
              display: flex;
              align-items: center;
              gap: 25px;
              margin-bottom: 25px;
          }

          .info {
              border-bottom: 1px solid rgba(255, 255, 255, 0.1);
              padding: 15px 0;
              display: flex;
              .infoItem {
                  margin-right: 10px;
                  display: flex;
                  flex-flow: row wrap;
              }
              .text {
                  margin-right: 10px;
                  opacity: 0.5;
                  line-height: 24px;
                  &.bold {
                      font-weight: 600;
                      opacity: 1;
                  }
              }
          }
      }
  }

  .detailsBannerSkeleton {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 25px;
      @include md {
          gap: 50px;
          flex-direction: row;
      }
      .contentWrapper {
          display: flex;
          gap: 50px;
      }
      .left {
          flex-shrink: 0;
          width: 100%;
          display: block;
          border-radius: 12px;
          aspect-ratio: 1/1.5;
          @include md {
              max-width: 350px;
          }
      }
      .right {
          width: 100%;
          .row {
              width: 100%;
              height: 25px;
              margin-bottom: 20px;
              border-radius: 50px;
              &:nth-child(2) {
                  width: 75%;
                  margin-bottom: 50px;
              }
              &:nth-child(5) {
                  width: 50%;
                  margin-bottom: 50px;
              }
          }
      }
  }
}
/***** End Details Banner Section Styles *****/


/***** VideoPopup Components Style *****/
.videoPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  .opacityLayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
      opacity: 0;
      transition: opacity 400ms;
  }
  .videoPlayer {
      position: relative;
      width: 800px;
      aspect-ratio: 16 / 9;
      background-color: white;
      transform: scale(0.2);
      transition: transform 250ms;
      .closeBtn {
          position: absolute;
          top: -20px;
          right: 0;
          color: white;
          cursor: pointer;
      }
  }
  &.visible {
      opacity: 1;
      visibility: visible;
      .opacityLayer {
          opacity: 1;
      }
      .videoPlayer {
          transform: scale(1);
      }
  }
}
/***** End VideoPopup Components Style *****/


/***** Cast Components Style *****/
.castSection {
  position: relative;
  margin-bottom: 50px;
  .sectionHeading {
      font-size: 24px;
      color: white;
      margin-bottom: 25px;
  }
  .listItems {
      display: flex;
      gap: 20px;
      overflow-y: hidden;
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
      cursor: pointer;
      &::-webkit-scrollbar {
        height:7px;
        width:5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--black-light);
        border-radius: 5px;
      }
      @include md {
          margin: 0;
          padding: 0;
      }
      .listItem {
          text-align: center;
          color: white;
          .profileImg {
              width: 125px;
              height: 125px;
              border-radius: 50%;
              overflow: hidden;
              margin-bottom: 15px;
              @include md {
                  width: 175px;
                  height: 175px;
                  margin-bottom: 25px;
              }
              img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center top;
                  display: block;
              }
          }
          .name {
              font-size: 14px;
              line-height: 20px;
              font-weight: 600;
              @include md {
                  font-size: 18px;
                  line-height: 24px;
              }
          }
          .character {
              font-size: 14px;
              line-height: 20px;
              opacity: 0.5;
              @include md {
                  font-size: 16px;
                  line-height: 24px;
              }
          }
      }
  }

  .castSkeleton {
      display: flex;
      gap: 20px;
      overflow-y: hidden;
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
      @include md {
          margin: 0;
          padding: 0;
      }
      .skItem {
          .circle {
              width: 125px;
              height: 125px;
              border-radius: 50%;
              margin-bottom: 15px;
              @include md {
                  width: 175px;
                  height: 175px;
                  margin-bottom: 25px;
              }
          }
          .row {
              width: 100%;
              height: 20px;
              border-radius: 10px;
              margin-bottom: 10px;
          }
          .row2 {
              width: 75%;
              height: 20px;
              border-radius: 10px;
              margin: 0 auto;
          }
      }
  }
}
/***** End Cast Components Style *****/

/***** Video Secton Style *****/
.videosSection {
  position: relative;
  margin-bottom: 50px;
  .sectionHeading {
      font-size: 24px;
      color: white;
      margin-bottom: 25px;
  }
  .videos {
      display: flex;
      gap: 10px;
      overflow-x: auto;
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
      cursor: pointer;
      &::-webkit-scrollbar {
        height:7px;
        width:5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--black-light);
        border-radius: 5px;
      }
      @include md {
          gap: 20px;
          margin: 0;
          padding: 0;
      }
      .videoItem {
          width: 150px;
          flex-shrink: 0;
          @include md {
              width: 25%;
          }
          cursor: pointer;
          .videoThumbnail {
              margin-bottom: 15px;
              position: relative;
              img {
                  width: 100%;
                  display: block;
                  border-radius: 12px;
                  transition: all 0.7s ease-in-out;
              }
              svg {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 50px;
                  height: 50px;
              }
              .triangle {
                  stroke-dasharray: 240;
                  stroke-dashoffset: 480;
                  stroke: white;
                  transform: translateY(0);
                  transition: all 0.7s ease-in-out;
              }
              .circle {
                  stroke: white;
                  stroke-dasharray: 650;
                  stroke-dashoffset: 1300;
                  transition: all 0.5s ease-in-out;
              }
              &:hover {
                  img {
                      opacity: 0.5;
                  }
                  .triangle {
                      stroke-dashoffset: 0;
                      opacity: 1;
                      stroke: var(--pink);
                      animation: trailorPlay 0.7s ease-in-out;
                  }
                  .circle {
                      stroke-dashoffset: 0;
                      stroke: var(--pink);
                  }
              }
          }
          .videoTitle {
              color: white;
              font-size: 14px;
              line-height: 20px;
              @include md {
                  font-size: 16px;
                  line-height: 24px;
              }
          }
      }
  }

  .videoSkeleton {
      display: flex;
      gap: 10px;
      overflow-x: auto;
      margin-right: -20px;
      margin-left: -20px;
      padding: 0 20px;
      @include md {
          gap: 20px;
          margin: 0;
          padding: 0;
      }
      .skItem {
          width: 150px;
          flex-shrink: 0;
          @include md {
              width: 25%;
          }
          .thumb {
              width: 100%;
              aspect-ratio: 16 / 9;
              border-radius: 12px;
              margin-bottom: 10px;
          }
          .row {
              height: 20px;
              width: 100%;
              border-radius: 10px;
              margin-bottom: 10px;
          }
          .row2 {
              height: 20px;
              width: 75%;
              border-radius: 10px;
          }
      }
  }
}
/***** End Video Secton Style *****/


/***** SearchResult Section Style *****/

.searchResultsPage {
  min-height: 700px;
  padding-top: 100px;
  .resultNotFound {
      font-size: 24px;
      color: var(--black-light);
  }
  .pageTitle {
      font-size: 24px;
      line-height: 34px;
      color: white;
      margin-bottom: 25px;
  }
  .content {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      margin-bottom: 50px;
      @include md {
          gap: 20px;
      }
      .movieCard {
          .posterBlock {
              margin-bottom: 20px;
          }
      }
  }
}
/***** End SearchResult Section Style *****/


/***** Spinner Component Style *****/
.loadingSpinner {
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner {
      animation: rotate 2s linear infinite;
      z-index: 2;
      width: 50px;
      height: 50px;
      & .path {
          stroke: hsl(210, 70, 75);
          stroke-linecap: round;
          animation: dash 1.5s ease-in-out infinite;
      }
  }

  &.initial {
      height: 700px;
  }

  @keyframes rotate {
      100% {
          transform: rotate(360deg);
      }
  }

  @keyframes dash {
      0% {
          stroke-dasharray: 1, 150;
          stroke-dashoffset: 0;
      }
      50% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -35;
      }
      100% {
          stroke-dasharray: 90, 150;
          stroke-dashoffset: -124;
      }
  }
}
/***** End Spinner Component Style *****/


/***** Movie Card Component Style *****/
.movieCard {
  width: calc(50% - 5px);
  margin-bottom: 25px;
  cursor: pointer;
  flex-shrink: 0;
  @include md {
      width: calc(25% - 15px);
  }
  @include lg {
      width: calc(20% - 16px);
  }
  .posterBlock {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 1.5;
      background-size: cover;
      background-position: center;
      margin-bottom: 30px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 10px;
      transition: all ease 0.5s;
      .lazy-load-image-background {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 12px;
          overflow: hidden;
          img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
          }
      }
      .circleRating {
          width: 40px;
          height: 40px;
          position: relative;
          top: 30px;
          background-color: white;
          flex-shrink: 0;
          @include md {
              width: 50px;
              height: 50px;
          }
      }
      .genres {
          display: none;
          position: relative;
          @include md {
              display: flex;
              flex-flow: wrap;
              justify-content: flex-end;
          }
      }
  }
  .textBlock {
      color: white;
      display: flex;
      flex-direction: column;
      .title {
          font-size: 16px;
          margin-bottom: 10px;
          line-height: 24px;
          @include ellipsis(1);
          @include md {
              font-size: 20px;
          }
      }
      .date {
          font-size: 14px;
          opacity: 0.5;
      }
  }
  &:hover {
      .posterBlock {
          opacity: 0.5;
      }
  }
}
/***** End Movie Card Component Style *****/



/***** Explore Page Styles *****/
.explorePage {
  min-height: 700px;
  padding-top: 100px;
  .resultNotFound {
      font-size: 24px;
      color: var(--black-light);
  }
  .pageHeader {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
      flex-direction: column;
      @include md {
          flex-direction: row;
      }
  }
  .pageTitle {
      font-size: 24px;
      line-height: 34px;
      color: white;
      margin-bottom: 20px;
      @include md {
          margin-bottom: 0;
      }
  }
  .filters {
      display: flex;
      gap: 10px;
      flex-direction: column;
      @include md {
          flex-direction: row;
      }
      .react-select-container {
          &.genresDD {
              width: 100%;
              @include md {
                  max-width: 500px;
                  min-width: 250px;
              }
          }
          &.sortbyDD {
              width: 100%;
              flex-shrink: 0;
              @include md {
                  width: 250px;
              }
          }
          .react-select__control {
              border: 0;
              outline: 0;
              box-shadow: none;
              background-color: var(--black-light);
              border-radius: 20px;
              .react-select__value-container {
                  .react-select__placeholder,
                  .react-select__input-container {
                      color: white;
                      margin: 0 10px;
                  }
              }
              .react-select__single-value {
                  color: white;
              }
              .react-select__multi-value {
                  background-color: var(--black3);
                  border-radius: 10px;
                  .react-select__multi-value__label {
                      color: white;
                  }
                  .react-select__multi-value__remove {
                      background-color: transparent;
                      color: white;
                      cursor: pointer;
                      &:hover {
                          color: var(--black-lighter);
                      }
                  }
              }
          }
          .react-select__menu {
              top: 40px;
              margin: 0;
              padding: 0;
          }
      }
  }
  .content {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      margin-bottom: 50px;
      @include md {
          gap: 20px;
      }
      .movieCard {
          .posterBlock {
              margin-bottom: 30px;
          }
      }
  }
}

/***** End Explore Page Styles *****/


